{% extends "dashboard/base.html" %}
{% block meta_title %}Lista {{ page_name }} | Koala{% endblock meta_title %}
{% block page_title %}{{ page_name }}{% endblock page_title %}
{% block breadcrumb %}
<li><a>Użytkownicy</a></li>
<li><span>{{ page_name }}</span></li>
{% endblock breadcrumb %}
{% block content %}
        <div class="main-content-inner">
            <div class="row">
                <!-- Dark table start -->
                <div class="col-12 mt-5">
                    <div class="card">
                        <div class="card-body">
                            <div class="row mb-3">
                                <div class="col-lg-6">
                                    <h4 class="header-title">Lista użytkowników</h4>
                                </div>
                                <div class="col-lg-6 d-flex justify-content-lg-end">
                                    {% if page_type == 'admins' and perms.users.add_admins %}
                                    <a href="{% url "dashboard:users-admins-new" %}" class="btn btn-primary" role="button" aria-pressed="true">Utwórz nowe konto</a>
                                    {% elif page_type == 'organizers' and perms.users.add_organizers %}
                                    <a href="{% url "dashboard:users-organizers-new" %}" class="btn btn-primary" role="button" aria-pressed="true">Utwórz nowe konto</a>
                                    {% endif %}
                                </div>
                            </div>
                            {% if users_list %}
                            <div class="data-tables datatable-dark">
                                <table id="dataTableUsers" class="text-center">
                                    <thead class="">
                                        <tr>
                                            <th class="desktop">Adres e-mail</th>
                                            <th class="desktop">Imię</th>
                                            <th class="desktop">Nazwisko</th>
                                            <th class="desktop">Numer telefonu</th>
                                            <th class="desktop">Data dołączenia</th>
                                            <th class="desktop">Akcja</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for user in users_list %}
                                        <tr>
                                            <td>{{ user.email }}</td>
                                            <td>{{ user.first_name }}</td>
                                            <td>{{ user.last_name }}</td>                                            
                                            <td>{{ user.phone_number|default_if_none:"Brak" }}</td>
                                            <td>{{ user.data_joined|date:"Y-m-d" }}</td>
                                            <td>
                                                <div>
                                                    {% if user.user_type == user.ADMIN and perms.users.view_admins or user.user_type == user.ORGANIZER and perms.users.view_organizers or user.user_type == user.STUDENT and perms.users.view_customuser or user.user_type == user.GUARDIAN and perms.users.view_customuser %}
                                                    <a href="{% url "dashboard:users-detail" user.id %}" class="btn btn-info" role="button" aria-pressed="true">
                                                        <i class="ti-info"></i>
                                                    </a>
                                                    {% endif %}
                                                    {% if user.user_type == user.ADMIN and perms.users.change_admins or user.user_type == user.ORGANIZER and perms.users.change_organizers or user.user_type == user.STUDENT and perms.users.change_customuser or user.user_type == user.GUARDIAN and perms.users.change_customuser %}
                                                    <a href="{% url "dashboard:users-edit" user.id %}" class="btn btn-primary" role="button" aria-pressed="true">
                                                        <i class="ti-pencil-alt"></i>
                                                    </a>
                                                    {% endif %}
                                                    {% if user.user_type == user.ADMIN and perms.users.delete_admins or user.user_type == user.ORGANIZER and perms.users.delete_organizers or user.user_type == user.STUDENT and perms.users.delete_customuser or user.user_type == user.GUARDIAN and perms.users.delete_customuser %}
                                                    <a href="{% url "dashboard:users-delete" user.id %}" class="btn btn-danger" role="button" aria-pressed="true">
                                                        <i class="ti-trash"></i>
                                                    </a>
                                                    {% endif %}                                                
                                                </div>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            {% else %} 
                            <p class="text-danger">Lista użytkowników jest pusta</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <!-- Dark table end -->
            </div>
        </div>
{% endblock content %}
{% block additionalthemecss %}
<!-- Start datatable css -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.jqueryui.min.css">
{% endblock additionalthemecss %}
{% block additionalthemescripts %}
<!-- Start datatable js -->
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap.min.js"></script>
{% endblock additionalthemescripts %}
