{% extends "dashboard/base.html" %}
{% block meta_title %}{{ page_name }} | Koala{% endblock meta_title %}
{% block page_title %}{{ page_name }}{% endblock page_title %}
{% block breadcrumb %}
<li><a href="{% url "dashboard:teams-detail" user.team_set.first.id %}">Zespół</a></li>
<li><span>{{ page_name }}</span></li>
{% endblock breadcrumb %}
{% block content %}
        <div class="main-content-inner">
            <div class="row">
                <!-- Dark table start -->
                <div class="col-12 mt-5">
                    <div class="card">
                        <div class="card-body">
                            <div class="row mb-3">
                                <div class="col-lg-6">
                                    <h4 class="header-title">Dostępni do zaproszenia opiekunowie szkoły: {{ user.team_set.first.school.name }}</h4>
                                </div>
                                <div class="col-lg-6 d-flex justify-content-lg-end">
                                </div>
                            </div>
                            {% if guardians %}
                            <div id="available-invitations-list" class="data-tables datatable-dark">
                                {% csrf_token %}
                                <input type="hidden" name="inviteposturl" value="{% url "dashboard:invitations-invite" %}">
                                <table id="dataTableUsers" class="text-center">
                                    <thead class="">
                                        <tr>
                                            <th class="desktop">Adres e-mail</th>
                                            <th class="desktop">Imię</th>
                                            <th class="desktop">Nazwisko</th>
                                            <th class="desktop">Akcja</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for guardian in guardians %}
                                        <tr>
                                            <td>{{ guardian.email }}</td>
                                            <td>{{ guardian.first_name }}</td>
                                            <td>{{ guardian.last_name }}</td>                                            
                                            <td>
                                                {% if guardian.invited %}
                                                    <button type="button" class="btn btn-info disabled" aria-disabled="true" disabled>
                                                        <i class="fa fa-spinner"></i>
                                                        Zaproszony
                                                    </button> 
                                                    {% else %}
                                                    <button type="button" class="btn btn-info invite" aria-pressed="true" data-recipient-id="{{ guardian.id }}">
                                                        <i class="fa fa-send-o"></i>
                                                        Zaproś
                                                    </button>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            {% else %} 
                            <p class="text-danger">Brak dostępnych opiekunów z Twojej szkoły</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <!-- Dark table end -->
            </div>
        </div>
{% endblock content %}
{% block additionalthemecss %}
<!-- Start datatable css -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.jqueryui.min.css">
{% endblock additionalthemecss %}
{% block additionalthemescripts %}
<!-- Start datatable js -->
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap.min.js"></script>
{% endblock additionalthemescripts %}
