{% extends "dashboard/base.html" %}
{% block meta_title %}{{ page_name }} | Scolarctos{% endblock meta_title %}
{% block page_title %}{{ page_name }}{% endblock page_title %}
{% block breadcrumb %}
<li><span>{{ page_name }}</span></li>
{% endblock breadcrumb %}
{% block content %}
        <div class="main-content-inner">
            <div class="row">
                <!-- Dark table start -->
                <div class="col-12 mt-5">
                    <div class="card">
                        <div class="card-body">
                            <div class="row mb-3">
                                <div class="col-lg-6">
                                    <h4 class="header-title">Lista zaproszeń</h4>
                                </div>
                                <div class="col-lg-6 d-flex justify-content-lg-end">
                                </div>
                            </div>
                            {% if invitations %}
                            <div class="data-tables datatable-dark">
                                {% csrf_token %}
                                <table id="dataTableTeams" class="text-center">
                                    <thead class="">
                                        <tr>
                                            <th class="desktop">Od</th>
                                            {% if user.user_type == user.STUDENT %}
                                                <th class="desktop">Imię</th>
                                                <th class="desktop">Nazwisko</th>
                                            {% elif user.user_type == user.GUARDIAN %}
                                            <th class="desktop">Zespół</th>
                                            <th class="desktop">Szkoła</th>
                                            {% endif %}
                                            <th class="desktop">Akcja</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% if user.user_type == user.STUDENT %}
                                            {% for invitation in invitations %}
                                            <tr>
                                                <td>{{ invitation.sender }}</td>
                                                <td>{{ invitation.sender.first_name }}</td> 
                                                <td>{{ invitation.sender.last_name }}</td>
                                                <td>
                                                    <a href="{% url "dashboard:invitations-edit-accept" invitation.id %}" class="btn btn-success" role="button" aria-pressed="true">
                                                        <i class="fa fa-check-circle-o"></i>
                                                    </a>
                                                    <a href="{% url "dashboard:invitations-edit-not-accept" invitation.id %}" class="btn btn-danger" role="button" aria-pressed="true">
                                                        <i class="fa fa-close"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        {% elif user.user_type == user.GUARDIAN %}
                                        {% for invitation in invitations %}
                                            <tr>
                                                <td>{{ invitation.sender }}</td>
                                                {% with sender_team=invitation.sender.team_set.first %}
                                                <td>{{ sender_team.name }}</td> 
                                                <td>{{ sender_team.school.name }}</td>
                                                {% endwith %}
                                                <td>
                                                    <a href="{% url "dashboard:invitations-edit-accept" invitation.id %}" class="btn btn-success" role="button" aria-pressed="true">
                                                        <i class="fa fa-check-circle-o"></i>
                                                    </a>
                                                    <a href="{% url "dashboard:invitations-edit-not-accept" invitation.id %}" class="btn btn-danger" role="button" aria-pressed="true">
                                                        <i class="fa fa-close"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        {% endif %}
                                    </tbody>
                                </table>
                            </div>
                            {% else %} 
                            <p class="text-danger">Brak zaproszeń</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <!-- Dark table end -->
            </div>
        </div>
{% endblock content %}
{% block additionalthemecss %}
<!-- Start datatable css -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.jqueryui.min.css">
{% endblock additionalthemecss %}
{% block additionalthemescripts %}
<!-- Start datatable js -->
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap.min.js"></script>
{% endblock additionalthemescripts %}
