{% extends "dashboard/base.html" %}
{% block meta_title %}{{ page_name }} | Scolarctos{% endblock meta_title %}
{% block page_title %}{{ page_name }}{% endblock page_title %}
{% block breadcrumb %}
<li><a href="{% url "dashboard:teams-detail" team.id %}">{{ team.name }}</a></li>
<li><span>{{ page_name }}</span></li>
{% endblock breadcrumb %}
{% block content %}
<div class="main-content-inner">
    <div class="row justify-content-md-center">
        <div class="col-lg-8 col-ml-10 col-sm-12">
            <div class="row">
                <!-- Textual inputs start -->
                <div class="col-12 mt-5">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="header-title">Dodaj nowego członka do zespołu: {{ team.name }}</h4>
                            <form method="post">
                                {% csrf_token %}
                                <div class="form-row">
                                    <div class="col-md-6 mb-3">
                                        <label for="{{ form.first_name.id_for_label }}" class="col-form-label">Imię</label>
                                        {{ form.first_name }}
                                        <div class="text-danger">{{ form.first_name.errors }}</div>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label for="{{ form.last_name.id_for_label }}" class="col-form-label">Nazwisko</label>
                                        {{ form.last_name }}
                                        <div class="text-danger">{{ form.last_name.errors }}</div>
                                    </div>
                                </div>
                                {% if perms.dashboard.change_team %}
                                <div class="form-row">
                                    <div class="col-md-6 mb-3">
                                        <div class="custom-control custom-checkbox">
                                            {{ form.gdpr_consent }}
                                            <label class="custom-control-label" for="{{ form.gdpr_consent.id_for_label }}">Zgoda RODO</label>
                                        </div>
                                        <div class="text-danger">{{ form.gdpr_consent.errors }}</div>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <div class="custom-control custom-checkbox">
                                            {{ form.parental_consent }}
                                            <label class="custom-control-label" for="{{ form.parental_consent.id_for_label }}">Zgoda rodzica / Uczeń pełnoletni</label>
                                        </div>
                                        <div class="text-danger">{{ form.parental_consent.errors }}</div>
                                    </div>
                                </div>
                                {% endif %}
                                <button type="submit" class="btn btn-primary mt-4 pr-4 pl-4">Dodaj</button>
                                <a href="{% url "dashboard:teams-detail" team.id %}" class="btn btn-warning mt-4 pr-4 pl-4" role="button" aria-pressed="true">Powrót</a>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Textual inputs end -->
            </div>
        </div>
    </div>
</div>    
{% endblock content %}