{% extends "auth/base.html" %}
{% block title %}Login | Koala{% endblock title %}
{% block content %}
{% load static %}
<!-- login area start -->
<div class="login-area">
    <div class="container">
        <div class="login-box ptb--100">
            <form method="post">
                {% csrf_token %}
                <div class="login-form-head">
                    <image class="mb-2" src="{% static "assets/images/custom/logo-koala.png" %}">
                    <h4>Logowanie</h4>
                    <p>Zaloguj się do panelu Koala</p>
                </div>
                <div class="login-form-body">
                    {{ form.non_field_errors }}
                    <div class="form-gp">
                        <label for="{{ form.email.id_for_label }}">Adres e-mail</label>
                        {{ form.email }}
                        <i class="ti-email"></i>
                        <div class="text-danger">{{ form.email.errors }}</div>
                    </div>
                    <div class="form-gp">
                        <label for="{{ form.password.id_for_label }}">Hasło</label>
                        {{ form.password }}
                        <i class="ti-lock"></i>
                        <div class="text-danger">{{ form.password.errors }}</div>
                    </div>
                    {% if error_login_message %}
                    <div class="row mb-4 rmber-area">
                        <div class="col-12">
                            <div class="custom-control custom-checkbox mr-sm-2 mb-2 text-danger text-center">
                                {{ error_login_message }}
                            </div>
                            {% if inactive_user %}
                            <a href="{% url "verify_email_resend_link" %}" role="button" class="btn btn-rounded btn-info btn-lg btn-block mb-3">Aktywuj konto</a>
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}
                    <div class="row mb-4 rmber-area">
                        <div class="col-6">
                            <div class="custom-control custom-checkbox mr-sm-2">
                                {% comment "" %}<input type="checkbox" class="custom-control-input" id="customControlAutosizing">
                                <label class="custom-control-label" for="customControlAutosizing">Zapamiętaj mnie</label>{% endcomment %}
                            </div>
                        </div>
                        <div class="col-6 text-right">
                            <a href="#">Zapomniałeś hasła?</a>
                        </div>
                    </div>
                    <div class="submit-btn-area">
                        <button id="form_submit" type="submit">Zaloguj się <i class="ti-arrow-right"></i></button>
                    </div>
                    <div class="form-footer text-center mt-5">
                        <p class="text-muted">Nie masz konta? <a href="{% url "register" %}">Zarejestruj się</a></p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- login area end -->
{% endblock content %}