{% extends "auth/base.html" %}
{% block title %}Reset hasła | Koala{% endblock title %}
{% block content %}
<!-- login area start -->
<div class="login-area">
    <div class="container">
        <div class="login-box ptb--100">
                <form method="post">
                {% csrf_token %}
                <div class="login-form-head">
                    <h4>Reset hasła</h4>
                    <p>Podaj swój adres e-mail w celu zresetowania hasła</p>
                </div>
                <div class="login-form-body">
                    {% if resetlinksend %}
                    <div class="alert alert-info mb-5" role="alert">
                        <h4 class="alert-heading">Sprawdź pocztę e-mail</h4>
                        <p>Link do resetowania hasła został wysłany, jeśli w systemie istnieje konto na podany adres e-mail.</p>
                        <hr>
                    </div>
                    <div class="submit-btn-area mt-5">
                        <a href="{% url "auth:login" %}" class="btn btn-primary" role="button" aria-pressed="true">Przejdź do strony logowania</a>
                    </div>
                    {% else %}                    
                    <div class="form-gp">
                        <label for="id_email">Adres e-mail</label>
                        <input type="email" name="email" maxlength="254" autofocus="" required="" id="id_email">
                        <i class="ti-email"></i>
                        <div class="text-danger"></div>
                    </div>
                    <div class="submit-btn-area mt-5">
                        <button id="form_submit" type="submit">Wyślij link do resetowania hasła <i class="ti-arrow-right"></i></button>
                    </div>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
</div>
<!-- login area end -->
{% endblock content %}