{% extends "auth/base.html" %}
{% block title %}Rejestracja | Koala{% endblock title %}
{% block content %}
{% load static %}
<!-- login area start -->
<div class="login-area">
    <div class="container">
        <div class="login-box ptb--100">
            <form id="registerForm" method="post">
                {% csrf_token %}
                <div class="login-form-head">
                    <image class="mb-2" src="{% static "assets/images/custom/logo-koala.png" %}">
                    <h4>Rejestracja</h4>
                    <p>Zarejestruj się i dołącz do nas</p>
                </div>
                <div class="login-form-body">
                    {{ form.non_field_errors }}
                    <div class="form-gp">
                        <label for="{{ form.first_name.id_for_label }}">Imię</label>
                        {{ form.first_name }}
                        <i class="ti-user"></i>
                        <div class="text-danger">{{ form.first_name.errors }}</div>
                    </div>
                    <div class="form-gp">
                        <label for="{{ form.last_name.id_for_label }}">Nazwisko</label>
                        {{ form.last_name }}
                        <i class="ti-user"></i>
                        <div class="text-danger">{{ form.last_name.errors }}</div>
                    </div>
                    <div class="form-gp">
                        <label for="{{ form.email.id_for_label }}">Adres e-mail</label>
                        {{ form.email }}
                        <i class="ti-email"></i>
                        <div class="text-danger">{{ form.email.errors }}</div>
                    </div>
                    <div class="form-gp">
                        <label for="{{ form.password1.id_for_label }}">Hasło</label>
                        {{ form.password1 }}
                        <i class="ti-lock"></i>
                        <div class="text-danger">{{ form.password1.errors }}</div>
                    </div>
                    <div class="form-gp">
                        <label for="{{ form.password2.id_for_label }}">Powtórz hasło</label>
                        {{ form.password2 }}
                        <i class="ti-lock"></i>
                        <div class="text-danger">{{ form.password2.errors }}</div>
                    </div>
                    <div class="form-gp">
                        {{ form.user_type }}
                        <div class="text-danger">{{ form.user_type.errors }}</div>
                    </div>
                    <div class="submit-btn-area">
                        <button id="form_submit" type="submit">Utwórz konto <i class="ti-arrow-right"></i></button>
                    </div>
                    <div class="form-footer text-center mt-5">
                        <p class="text-muted">Masz już konto? <a href="{% url "login" %}">Zaloguj się</a></p>
                    </div>
  
  <!-- Modal -->
  <div class="modal fade" id="registerSuccessMessage" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="registerSuccessMessageLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header justify-content-center">
          <h5 class="modal-title" id="registerSuccessMessageLabel">Rejestracja przebiegła pomyślnie!</h5>
        </div>
        <div class="modal-body text-center">
          Link aktywacyjny przesłaliśmy na wskazany adres e-mail.<br />
          Sprawdź swoją skrzynkę pocztową w celu aktywowania konta.
        </div>
        <div class="modal-footer justify-content-center">
          <a href="#" class="btn btn-info" role="button" aria-pressed="true">Strona główna</a>
          <a href="{% url "login" %}" class="btn btn-primary" role="button" aria-pressed="true">Logowanie</a>
        </div>
      </div>
    </div>
  </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- login area end -->
{% endblock content %}
{% block additionalscripts %}
{% if success %}
<script>
    $('#registerForm')[0].reset();
    $('#registerSuccessMessage').modal();
</script>
{% endif %}
{% endblock additionalscripts %}