.user-profile .user-thumb i{
    height: 50px;
    width: 50px;
    line-height: 50px;
    display: block;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    font-size: 23px;
}

.text-primary a, .text-secondary a, .text-success a, .text-danger a, .text-warning a, .text-info a, .text-dark a{
    font-family: 'Lato', sans-serif;
}

.datatable-checkbox input[type=checkbox]{
    width: 16px;
    height: 16px;
    position: relative;
    top: 5px;
}

.custom-file-label::after{
    content: none;
}