{% load static %}
<!-- sidebar menu area start -->
<div class="sidebar-menu">
    <div class="sidebar-header">
        <div class="logo">
            <a href="{% url "dashboard:index" %}"><img src="{% static "assets/images/custom/logo-koala.png" %}" alt="logo"></a>
        </div>
    </div>
    <div class="main-menu">
        <div class="menu-inner">
            <nav>
                <ul class="metismenu" id="menu">
                    <li class="{% if request.resolver_match.url_name == "index" %}active{% endif %}"><a href="{% url "dashboard:index" %}"><i class="ti-dashboard"></i> <span>Panel</span></a></li>
                    {% if perms.users.view_admins or perms.users.view_organizers or perms.users.view_customuser %}
                    <li>
                        <a href="javascript:void(0)" aria-expanded="true"><i class="ti-user"></i><span>Użytkownicy</span></a>
                        <ul class="collapse">
                            {% if perms.users.view_admins %}
                            <li class="{% if request.resolver_match.url_name == "users-list-admins" %}active{% endif %}"><a href="{% url "dashboard:users-list-admins" %}">Administratorzy</a></li>
                            {% endif %}
                            {% if perms.users.view_organizers %}
                            <li class="{% if request.resolver_match.url_name == "users-list-organizers" %}active{% endif %}"><a href="{% url "dashboard:users-list-organizers" %}">Organizatorzy</a></li>
                            {% endif %}                            
                            {% if perms.users.view_customuser %}
                            <li class="{% if request.resolver_match.url_name == "users-list-students" %}active{% endif %}"><a href="{% url "dashboard:users-list-students" %}">Uczniowie</a></li>                            
                            <li class="{% if request.resolver_match.url_name == "users-list-guardians" %}active{% endif %}"><a href="{% url "dashboard:users-list-guardians" %}">Opiekunowie</a></li>                            
                            {% endif %}
                        </ul>
                    </li>
                    {% endif %}
                    {% if perms.dashboard.view_school %}
                    <li>
                        <a href="javascript:void(0)" aria-expanded="true"><i class="ti-ruler-pencil"></i><span>Szkoły</span></a>
                        <ul class="collapse">
                            <li class="{% if request.resolver_match.url_name == "schools-list" %}active{% endif %}"><a href="{% url "dashboard:schools-list" %}">Wszystkie</a></li>
                            <li class="{% if request.resolver_match.url_name == "schools-list-type" and school_type == 1 %}active{% endif %}"><a href="{% url "dashboard:schools-list-type" 1 %}">Podstawowe</a></li>
                            <li class="{% if request.resolver_match.url_name == "schools-list-type" and school_type == 2 %}active{% endif %}"><a href="{% url "dashboard:schools-list-type" 2 %}">Ponadpodstawowe</a></li>
                            {% if user.user_type == user.GUARDIAN %}
                            <li class="{% if request.resolver_match.url_name == "schools-guardian-list" %}active{% endif %}"><a href="{% url "dashboard:schools-guardian-list" %}">Moje szkoły</a></li> 
                            {% endif %}
                            {% if perms.dashboard.add_school %}
                            <li class="{% if request.resolver_match.url_name == "schools-new" %}active{% endif %}"><a href="{% url "dashboard:schools-new" %}">Dodaj</a></li>
                            {% endif %}                            
                        </ul>
                    </li>
                    {% endif %}
                    <li>
                        <a href="javascript:void(0)" aria-expanded="true"><i class="fa fa-users"></i><span>Zespoły</span></a>
                        <ul class="collapse">
                            {% with team=user.team_set.first %}
                                {% if team %}
                                <li><a class="{% if request.resolver_match.url_name == "teams-detail" %}active{% endif %}" href="{% url "dashboard:teams-detail" team.id %}">Mój zespół</a></li>
                                    {% if not team.team_guardian %}
                                    <li><a href="#" aria-expanded="true">Zaproszenia</a>
                                        <ul class="collapse">
                                            <li class="{% if request.resolver_match.url_name == "invitations-list" %}active{% endif %}"><a href="{% url "dashboard:invitations-list" %}">Otrzymane</a></li>
                                            <li><a class="{% if request.resolver_match.url_name == "invitations-available-guardians-list" %}active{% endif %}" href="{% url "dashboard:invitations-available-guardians-list" %}">Zaproś opiekuna</a></li>
                                        </ul>
                                    </li>
                                    {% endif %}
                                {% elif perms.dashboard.add_team %}
                                <li><a class="{% if request.resolver_match.url_name == "teams-new" %}active{% endif %}" href="{% url "dashboard:teams-new" %}">Utwórz zespół</a></li>
                                {% endif %}

                            {% endwith %}
                            {% if user.user_type == user.GUARDIAN %}
                            <li><a href="#" aria-expanded="true">Zaproszenia</a>
                                <ul class="collapse">
                                    <li class="{% if request.resolver_match.url_name == "invitations-list" %}active{% endif %}"><a href="{% url "dashboard:invitations-list" %}">Otrzymane</a></li>
                                    <li class="{% if request.resolver_match.url_name == "invitations-available-teams-list" %}active{% endif %}"><a href="{% url "dashboard:invitations-available-teams-list" %}">Zaproś zespół</a></li>
                                </ul>
                            </li>
                            {% endif %}
                            {% if perms.dashboard.view_team %}
                                <li class="{% if request.resolver_match.url_name == "teams-list" %}active{% endif %}"><a href="{% url "dashboard:teams-list" %}">Wszystkie</a></li>
                            {% endif %}
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<!-- sidebar menu area end -->